<html>
    <head>
        <title>Tunr</title>
    </head>
    <body>
        <h1>Tun.r</h1>
        <nav>
            <a href="/songs">Songs</a>
            <a href="/">Artists</a>
        </nav>
        {% block content %}
            <!-- <h2>Artists <a href="{% url 'artist_new' %}">(+)</a></h2> -->
            <ul>
                {% for artist in artists %}
                    <li>
                        <!-- <a href="{% url 'artist_show' pk=artist.id %}">{{ artist.name }}</a> -->
                        {{ goal.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    </body>
</html>


